JWT_SECRET="Cg+moloSJ4jPYI4b7ppnVchV7n+NC+fef0jZVKGpQOztaMraIY9ZR2JkqVJLDEXJ"
DB_URL="postgres://postgres:postgres@localhost:5432/chirpy?sslmode=disable"
PLATFORM="dev"
POLKA_KEY="f271c81ff7084ee5b99a5091b42d486e"